[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
scikit-learn = "*"
pandas = "*"
joblib = "*"
wordcloud = "*"
spacy = "*"

[requires]
python_version = "3.6"
